.new-event {
    color: var(--background-four);
}

.body-newEvent {
    background-color: var(--background-four-light);
    margin: 0 25%;
}
.main-newEvent {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 15px;
    margin: 0 auto;
}
.main-newEvent h1 {
    color: var(--background-one);
}

.line-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.box-newEvent {
    margin-top: 30px;
    background-color: var(--background-three);
    padding: 50px;
    width: 100%;
}

label {
    margin-right: 0px;
}

.m-l-20 {
    margin-left: 20px;
}

@media (max-width: 768px) {
    .body-newEvent {
        margin: 0 5%;
    }
}