header {
    padding: 20px;
    margin: 0 50px;
}

.header-btns {
    display: flex;
    gap: 20px;
}
.btn-header {
    width: auto;
    padding: 25px;
    margin: 0;
}

#btn-volver {
    margin:0px;
}

.btn-cerrar-sesion {
    background-color: red;    
    width: auto;
    margin:0px;
    display: block;
}
.eliminar {
    display: none;
}